<div class="container">
  <div>
  <%= flash[:notice] %>
</div>
  <h1>books</h1>
  <div class="list-wrap">
      <h2>title</h2>
      <h2>body</h2>
    <div class="contents-wrap">
      <% @books.each do |book| %>
        <div class="right-layout">
          <p class="contents-area"><%= book.title %></p>
          <p class="contents-area"><%= book.body %></p>
          <p><%= link_to 'Show', book_path(book) %></p>
          <p><%= link_to "Edit", edit_book_path(book.id) %></p>
          <p><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm"=> "Are you sure?"  %></p>
        </div>
      <% end %>
    </div>
    </div>
    <h2>New Book</h2>
    <% if @book_posts.errors.any? %>
    <% @book_posts.errors.count %>件エラー発生
    <ul>
      <% @book_posts.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>
    <%= form_with model: @books, url: books_path, method: :post do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Body</p>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
    <% end %>
</div>